@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Quicksand';
  src: url('./assets/fonts/Quicksand.ttf')
}

* {
  font-family: 'Quicksand', sans-serif !important;
}
